#settings_plugin_prusammu .color-dropdown {
  position: relative;
  opacity: 1 !important; /* themify dims buttons, cant have that */
}

#settings_plugin_prusammu .colorPickButtonAlignments {
  margin: -5px 2px -5px 0;
}
