<h2>{{ _("Prusa MMU") }}</h2>
<div id="prusammu_error_zone" class="hide">
  <div class="alert alert-block">
    <p><i class="fas fa-warning"></i> <strong><span id="prusammu_error_title">TITLE</span> (#<span id="prusammu_error_code">CODE</span>)</strong></p>
    <p id="prusammu_error_text"></p>
    <p><a id="prusammu_error_url" href="#" target="_blank">URL</a></p>
  </div>
</div>
<div class="alert alert-block hide mk4">
  <p><i class="fas fa-warning"></i> <strong>MK3.5/3.9/4</strong></p>
  <p>You MUST use the MMU3 profile for single filament prints. Slicing without MMU will not work with this plugin. The popup will rewrite all filament to the chosen one. For multi-mode use the skip button.</p>
</div>
<form class="form-horizontal">

  <h3>{{ _("Filament") }}</h3>

  <div class="control-group">
    <label class="control-label">{{ _("Filament label source") }}</label>
    <div class="controls">
      <select data-bind="
        enable: settings.plugins.prusammu.filamentSources().length > 1,
        options: settings.plugins.prusammu.filamentSources,
        optionsText: 'name',
        optionsValue: 'id',
        value: settings.plugins.prusammu.filamentSource,
      "></select>
      <span class="help-block">
        Supports
        <a href="https://plugins.octoprint.org/plugins/SpoolManager/" target="_blank">Spool Manager</a>
        and
        <a href="https://plugins.octoprint.org/plugins/filamentmanager/" target="_blank">Filament Manager</a>
        when installed.
      </span>

      <div class="alert alert-block" data-bind="visible: settings.plugins.prusammu.filamentSource() == 'spoolManager'">
        <p><strong>Spool Manager:</strong><br /> {{ _("To manage filament use the Spool tab and select the correct tool each filament spool is connected to.") }}</p>
        <p style="color:red">{{ _("IMPORTANT: You must disable 'Reminder for verifying the selected spool.' under Notification in the Spool Manager settings or the select filament feature will not work.") }}</p>
      </div>

      <div class="alert alert-block" data-bind="visible: settings.plugins.prusammu.filamentSource() == 'filamentManager'">
        <p><strong>Filament Manager:</strong><br /> {{ _("To manage filament use the Filament Manager section in the left sidebar.") }}</p>
        <p>{{ _("Note: FilamentManager does not support color so no color will be shown.") }}</p>
      </div>

      <div class="alert alert-block" data-bind="visible: settings.plugins.prusammu.filamentSource() == 'spoolMan'">
        <p><strong>Spool Man:</strong><br /> {{ _("To manage filament use the Spool Man section in the left sidebar.") }}</p>
      </div>
    </div>
  </div>

  <div data-bind="visible: settings.plugins.prusammu.filamentSource() == 'prusammu'">
    <div data-bind="foreach: settings.plugins.prusammu.filament">
      <div class="control-group">
        <label class="control-label"><strong data-bind="text: $index() + ($parent.settings.plugins.prusammu.indexAtZero() ? 0 : 1)"></strong></label>
        <div class="controls">
          <input type="checkbox" data-bind="checked: $data.enabled" />
          <input type="text" data-bind="value: $data.name" />
          <i class="fas fa-pen-fancy icon-large" data-bind="style: { color: $data.color }, visible: $parent.settings.plugins.prusammu.classicColorPicker()"></i>
          <input type="color" class="input-mini" data-bind="value: $data.color, visible: $parent.settings.plugins.prusammu.classicColorPicker()" />
          <div class="btn-group" data-bind="hidden: $parent.settings.plugins.prusammu.classicColorPicker()">
            <button type="button" class="btn color-dropdown dropdown-toggle" data-bind="attr: {'data-index': $index}">
              <div class="colorPickButton colorPickButtonAlignments" data-bind="style: { color: $data.color, background: $data.color }"></div>
              <span class="caret"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>{{ _("Timeout") }}</h3>

  <div class="control-group">
    <label class="control-label">{{ _("Timeout") }}</label>
    <div class="controls">
      <div class="input-append">
        <input type="number" min="1" pattern="[0-9]+" class="input-mini text-right" class="input-block-level" data-bind="value: settings.plugins.prusammu.timeout">
        <span class="add-on">{{ _("seconds") }}</span>
      </div>
      <span class="help-block">{{ _("After this given time, the dialog closes and the print will go on as usual. This means you have to select the filament at your printer.") }}</span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">{{ _("Default filament") }}</label>
    <div class="controls">
      <input type="checkbox" data-bind="checked: settings.plugins.prusammu.useDefaultFilament" />
      <select data-bind="
        enable: settings.plugins.prusammu.useDefaultFilament,
        options: settings.plugins.prusammu.filament,
        optionsText: function(fill) {
          if(settings.plugins.prusammu.filamentSource() == 'prusammu') {
           return 'Filament ' + (settings.plugins.prusammu.indexAtZero() ? fill.id() - 1 : fill.id()) + ': ' + fill.name()
          }
          return 'Filament ' + (settings.plugins.prusammu.indexAtZero() ? fill.id() - 1 : fill.id())
        },
        optionsValue: function(fill) {
          return fill.id() - 1
        },
        value: settings.plugins.prusammu.defaultFilament,
        optionsCaption: 'Choose...'
      "></select>
      <span class="help-block">{{ _("Check if you want octoprint to default to a specific filament when the dialog times out.") }}</span>
      <span class="help-block hide mk4"><i class="fas fa-warning"></i> {{ _("Does not work for MK3.5/3.9/4 users because of how single select works.") }}</span>
    </div>
  </div>

  <h3>{{ _("Navbar") }}</h3>

  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.prusammu.displayActiveFilament" />
        {{ _("Display in navbar") }}
      </label>
      <span class="help-block">{{ _("Check if you want to see the active filament as well as MMU state change in the navbar.") }}</span>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.prusammu.simpleDisplayMode" />
        {{ _("Simple display mode") }}
      </label>
      <span class="help-block">{{ _("Check to remove the text from the navbar item to save space.") }}</span>
    </div>
  </div>

  <div class="control-group" data-bind="visible: !settings.plugins.prusammu.simpleDisplayMode()">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.prusammu.advancedDisplayMode" />
        {{ _("Advanced display mode") }}
      </label>
      <span class="help-block">{{ _("Check to show more precise details about the MMU (Only works with 3.0.0).") }}</span>
    </div>
  </div>

  <h3>Prusa</h3>

  <div class="alert alert-block" data-bind="visible: settings.plugins.prusammu.prusaVersion() === ''">
    <p><i class="fas fa-info-circle"></i> Detected Version: <span class="prusa-version">...</span></p>
  </div>

  <div class="control-group">
    <label class="control-label">{{ _("Prusa Version") }}</label>
    <div class="controls">
      <select data-bind="
        options: [
          {key: 'auto detect', value: ''},
          {key: 'MK3', value: 'MK3'},
          {key: 'MK3.5', value: 'MK3_5'},
          {key: 'MK3.9', value: 'MK3_9'},
          {key: 'MK4', value: 'MK4'},
        ],
        optionsText: function(opt) {
          return opt.key;
        },
        optionsValue: function(opt) {
          return opt.value;
        },
        value: settings.plugins.prusammu.prusaVersion,
      "></select>
      <span class="help-block">{{ _("Sometimes version detection can have trouble, you can lock the version with this setting. \"S\" versions operate the same as their non-\"S\" counterparts.") }}</span>
    </div>
  </div>

  <div>
    <div>
      <small>
        <a href="#" class="muted" data-bind="
          toggleContent: {
            class: 'fa-caret-right fa-caret-down',
            container: '#settings_plugin_prusammu #prusammu_advanced'
          }
        ">
          <i class="fas fa-caret-right"></i> {{ _("Advanced options") }}
        </a>
      </small>
    </div>
    <div id="prusammu_advanced" class="hide">
      <h3>{{ _("Advanced") }}</h3>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.prusammu.enablePrompt" />
            {{ _("Enable Filament Prompt") }}
          </label>
          <span class="help-block">{{ _("Disable this if you do not want the plugin to prompt you to pick a filament when slicing with single print mode.") }}</span>
          <p class="hide mk3"><strong>MK3: You will have to select the filament on your printer..</strong></p>
          <p class="hide mk4"><strong>MK3.5/3.9/4: It will print with the sliced filament when disabled.</strong></p>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.prusammu.indexAtZero" />
            {{ _("Index at zero") }}
          </label>
          <span class="help-block">{{ _("Check to have the filament numbers be 0-4 instead of 1-5. Plugins like Spool Manager as well as the actual GCode refrence them as 0-4.") }}</span>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.prusammu.classicColorPicker" />
            {{ _("Classic color picker") }}
          </label>
          <span class="help-block">{{ _("Check to revert back to the classic color picker instead of the new one.") }}</span>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.prusammu.useFilamentMap" />
            {{ _("Remap tool commands") }}
          </label>
          <span class="help-block">{{ _("Check to have prusammu intercept tool commands and change the tool ID to the mapped one.") }}</span>
        </div>
      </div>

      <div data-bind="visible: settings.plugins.prusammu.useFilamentMap()">
        <div class="control-group">
          <div class="controls">
            <div class="alert alert-block">
              <p><i class="fas fa-warning"></i> <strong>IMPORTANT: READ BEFORE USING</strong> <i class="fas fa-warning"></i></p>
              <p>This feature will <strong>ONLY</strong> tell the MMU what filament to load when it sees a specific T# command. It <strong>WILL NOT</strong> make temperature decisions, the printer will follow the temperatures defined in the GCode of the print regardless of what filament is being loaded. Make sure you are always replacing the filament with the same type (like PLA -> PLA, PETG -> PETG, etc) as defined in the GCode. So don't take a GCode sliced for PLA filament and map it to a tool using PETG, it will use the temperature for the PLA! This setting is only used on GCode sliced in multi mode and will be ignored for single mode prints.</p>
              
              <p>Use at your own risk.</p>

              <p class="hide mk4"><strong>MK3.5/3.9/4: This feature will not work in single print mode.</strong></p>
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div data-bind="foreach: settings.plugins.prusammu.filamentMap">
              <div class="control-group">
                <label class="control-label"><strong data-bind="text: 'Tool ' + ($index() + ($parent.settings.plugins.prusammu.indexAtZero() ? 0 : 1))"></strong></label>
                <div class="controls">
                  <i class="fas fa-long-arrow-right"></i> <select data-bind="
                    options: $parent.settings.plugins.prusammu.filament,
                    optionsText: function(fill) {
                      if($parent.settings.plugins.prusammu.filamentSource() == 'prusammu') {
                        return 'Tool ' + ($parent.settings.plugins.prusammu.indexAtZero() ? fill.id() - 1 : fill.id()) + ': ' + fill.name()
                      }
                      return 'Tool ' + ($parent.settings.plugins.prusammu.indexAtZero() ? fill.id() - 1 : fill.id())
                    },
                    optionsValue: function(fill) {
                      return fill.id() - 1
                    },
                    value: $data.id
                  "></select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.prusammu.debug" />
            {{ _("Debug") }}
          </label>
          <span class="help-block">{{ _("Warning: Enabling debug will make Prusa MMU noisy in logs and devtools. May also slow down your print.") }}</span>
        </div>
      </div>
    </div>
  </div>

  <h3>{{ _("Info") }}</h3>

  <ul>
    <li>{{ _("Supports MMU2 Firmware 3.X.X") }}</li>
    <li><a href="https://github.com/jukebox42/Octoprint-PrusaMMU#developer-zone" target="_blank">{{ _("Documentation") }}</a></li>
    <li><a href="https://github.com/jukebox42/Octoprint-PrusaMMU/releases" target="_blank">{{ _("Release notes") }}</a></li>
    <li>
      <strong>{{ _("MMU2 Troubleshooting") }}</strong>
      <ul>
        <li><a href="https://help.prusa3d.com/guide/service-menu-individual-filament-calibration_86376" target="_blank">{{ _("MMU2 Filament Calibration")}}</a></li>
        <li><a href="https://help.prusa3d.com/guide/filament-jam-mmu2s_85936" target="_blank">{{ _("MMU2 Filament Jam")}}</a></li>
        <li><a href="https://help.prusa3d.com/article/mmu2s-leds-meaning_2187#red-light" target="_blank">{{ _("MMU2 Red Light Troubleshooting") }}</a></li>
      </ul>
    </li>
  </ul>
</form>