<a href="javascript:void(0)" id="navbar_plugin_prusammu_a">
  MMU:
  <i id="navbar_plugin_prusammu_icon" class="fas" style="display:none"></i>
  <span id="navbar_plugin_prusammu_text">Ready</span>
</a>
