###
# This file is only here to make sure that something like
#
#    pip install -e .
#
# works as expected. Requirements can be found in setup.py.
###

setuptools~=65.5.1
OctoPrint~=1.10.0
Flask==2.3.2